.todo-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 8px;
  padding: 4px 0;
}

.todo-list-item label + button {
  display: block;
  margin-left: 40px;
}
