.error-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-container {
  z-index: 100;
  background-color: white;
  border-radius: 0.5em;
  padding: 1.5em 1.25em 1em 1.25em;
  max-width: 31.25em; /*500px*/
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.error-message {
  font-size: 1.2em;
  line-height: 1.6em;
}
.error-btn {
  align-self: flex-end;
}
