.login-container {
  display: flex;
  flex-direction: column;
  max-width: 485px;
  padding-left: 2em;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(67, 60, 60);
  background-color: var(--surface);
}

.login-container > button[type='submit'] {
  margin-bottom: 1em;
}

@media (max-width: 576px) {
  .login-container {
    border: none;
    width: 410px;
    padding: 8px;
  }
  .login-container > button[type='submit'],
  .login-container > h1 {
    margin: 10px 0 10px 0;
  }
}

@media (max-width: 786) {
  .login-container {
    width: 450px;
    padding: 8px;
  }
}
