* {
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

h1,
h2 {
  text-align: center;
}

select {
  font-size: 1em;
  border-radius: 10px;
  margin-bottom: 12px;
  line-height: 1.25;
  padding: 6px 12px;
  border: 1px solid #aaa;
  width: 10em;
}

label {
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.3em;
  padding: 0 4px;
  margin: 4px 0;
  display: inline-block;
}
input[type='checkbox'] {
  scale: 2;
}

button {
  border-radius: 10px;
  padding: 5px 16px;
  margin: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border: 1px black solid;
  background: rgb(67, 60, 60);
  color: #fff;
}

button:hover {
  cursor: grab;
}

button:active {
  cursor: grabbing;
}

#root {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.routes-container {
  margin: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

.form-control {
  border-radius: 10px;
  line-height: 1.25em;
  font-size: 1.1em;
  padding: 6px 12px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 0;
}

.todo-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

/* .sort-container {
  display: flex;
  flex-direction: column;
} */
.flex-column {
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: rgb(67, 60, 60);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px;
  padding: 0 16px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 4px;
}

.link-container {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.site-title {
  font-size: 2em;
}

.active {
  background-color: #aaa;
}
/* @media (max-width: 385px){
.sort-container{
  display: flex;
  flex-direction: column;
}
}


@media (min-width: 576px) and (max-width: 991px){
.sort-container{
  display: block;
}
} */
/*
@media (min-width: 386px) and (max-width: 575px){
}
@media (min-width: 992px){
} */
