*{
  box-sizing: border-box;
  list-style-type: none;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0.66em;
  display: flex;
  flex-direction: column;     
  justify-content: center;     
  align-items: center;           
  font-size: 1.25em; 
  z-index: 2;
}
h1, h2{
  text-align: center;
}
/* inputs */
.form-control{
  border-radius: 10px;
  line-height: 1.25em;
  font-size: 1.1em;
  padding: 0.33em 0.66em;
  border: 1px solid #aaa;
  box-sizing: border-box;
  margin-bottom: 0.75em;
}
/* Labels */
label{
  /* width: 0; */
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.3em;
  padding: 0 0.3em;
  margin: 0.25em 0;
  display: inline-block;
}
input[type="checkbox"]{
  scale:2;
}

/*buttons*/
button {
  border-radius: 10px;
  padding: 5px 16px;
  margin: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border: 1px black solid;
  background: rgb(67, 60, 60);
  color: #fff;
}

/* Button hover effect */
button:hover {
  cursor: grab;
}
button:active{
  cursor: grabbing;
}

/* Make ul take full width, center its content */
ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  margin: 1em 0;
  padding: 0;
}

/* Center content inside each li as well */
ul > li {
  width: 100%;
  display: flex;
  align-items: center;   
  justify-content: center;
  margin-bottom: 0.5em;  
}
.sort-container{
  display: flex;
  flex-direction: column;
}
select {
  font-size: 1em;
  border-radius: 10px;
  margin-bottom: 0.75em;
  line-height: 1.25em;
  padding: 0.33em 0.66em;
  border: 1px solid #aaa;
  width:10em;
}

/* @media (max-width: 385px){
.sort-container{
  display: flex;
  flex-direction: column;
}
}


@media (min-width: 576px) and (max-width: 991px){
.sort-container{
  display: block;
}
} */
/*
@media (min-width: 386px) and (max-width: 575px){
}
@media (min-width: 992px){
} */