.routes-container {
  margin: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

.todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 0;
}

.active {
  background-color: #aaa;
}
/* @media (max-width: 385px){
.sort-container{
  display: flex;
  flex-direction: column;
}
}


@media (min-width: 576px) and (max-width: 991px){
.sort-container{
  display: block;
}
} */
/*
@media (min-width: 386px) and (max-width: 575px){
}
@media (min-width: 992px){
} */
