.routes-container {
  margin: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

.form-control {
  border-radius: 10px;
  line-height: 1.25em;
  font-size: 1.1em;
  padding: 6px 12px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 0;
}

.todo-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #aaa;
}
/* @media (max-width: 385px){
.sort-container{
  display: flex;
  flex-direction: column;
}
}


@media (min-width: 576px) and (max-width: 991px){
.sort-container{
  display: block;
}
} */
/*
@media (min-width: 386px) and (max-width: 575px){
}
@media (min-width: 992px){
} */
