* {
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

h1,
h2 {
  text-align: center;
}

select {
  font-size: 1em;
  border-radius: 10px;
  margin-bottom: 12px;
  line-height: 1.25;
  padding: 6px 12px;
  border: 1px solid #aaa;
  width: 10em;
}

label {
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.3em;
  padding: 0 4px;
  margin: 4px 0;
  display: inline-block;
}

input[type='checkbox'] {
  scale: 2;
}

button {
  border-radius: 10px;
  padding: 5px 16px;
  margin: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border: 1px black solid;
  background: rgb(67, 60, 60);
  color: #fff;
}

#root {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}
